In [3]:
# Python Set Practical Questions
# 1. Create a set containing five different country names and print it.

# 2. Create a set with duplicate numbers and print it to see how duplicates are handled.

# 3. Use the set() constructor to create a set from a list of fruits.

# 4. Add a new element into an existing set using add() method.

# 5. Add multiple elements into a set using update() method.

# 6. Try adding a duplicate element to the set and check if it changes.

# 7. Remove an element from a set using remove() method.

# 8. Remove an element safely using discard() without raising an error.

# 9. Remove a random element using pop() and print both removed and remaining elements.

# 10. Clear all elements from a set using clear() and print it.

# 11. Create two sets of numbers and perform union operation.

# 12. Perform intersection between two sets to find common elements.

# 13. Perform difference between two sets to find unique elements from the first set.

# 14. Perform symmetric difference between two sets and print the result.

# 15. Check if one set is a subset of another using issubset() method.

# 16. Check if one set is a superset of another using issuperset() method.

# 17. Check if two sets have no common elements using isdisjoint() method.

# 18. Use in keyword to check if a particular element exists in a set.

# 19. Use not in keyword to check if an element does not exist in a set.

# 20. Find the total number of elements in a set using len().

# 21. Find the maximum and minimum element from a numeric set using max() and min().

# 22. Find the sum of all elements from a numeric set using sum().

# 23. Convert a set into a sorted list in ascending order using sorted().

# 24. Sort a set in descending order using sorted() with reverse=True.

# 25. Use any() to check if at least one True value exists in a Boolean set.

# 26. Use all() to check if all values in a Boolean set are True.

# 27. Copy a set using copy() and verify both sets are independent.

# 28. Delete a set completely using del keyword and observe the result.

# 29. Convert a list with duplicate values into a set to remove duplicates.

# 30. Create two sets of student names (from two different classes) and find:
#     a) Common students (intersection)
#     b) Students only in class A (difference)
#     c) All unique students (union)

In [4]:
#1
country={"india","USA","china","korea","london"}
print(country)

{'korea', 'USA', 'china', 'india', 'london'}

In [5]:
#2
numbers={1,1,2,3,3,2,4,4,3,5}
print(numbers)

{1, 2, 3, 4, 5}

In [7]:
#3
fruit=["apple","banana","cherry"]
new = set(fruit)
print("new_set:",new)

new_set: {'cherry', 'apple', 'banana'}

In [8]:
#4
fruits={"apple","banana"}
fruits.add("cherry")
print(fruits)

{'cherry', 'apple', 'banana'}

In [9]:
#5
fruits.update(["papaya","grapes"])
print(fruits)

{'papaya', 'cherry', 'grapes', 'banana', 'apple'}

In [10]:
#6
fruits.add("cherry")
print(fruits)

{'papaya', 'cherry', 'grapes', 'banana', 'apple'}

In [11]:
#7
fruits.remove("banana")
print(fruits)

{'papaya', 'cherry', 'grapes', 'apple'}

In [13]:
#8
fruits.discard("cherry")
print(fruits)
fruits.discard("banana")
print(fruits)

{'papaya', 'grapes', 'apple'}
{'papaya', 'grapes', 'apple'}

In [14]:
#9
numbers=(1,3,2,4,5,3,2,7)
num=tuple(sorted(numbers))
print("Tuple:",num)
print("numbers:",numbers)

Tuple: (1, 2, 2, 3, 3, 4, 5, 7)
numbers: (1, 3, 2, 4, 5, 3, 2, 7)

In [15]:
#10
num=tuple(sorted(numbers,reverse=True))
print("Tuple:",num)

Tuple: (7, 5, 4, 3, 3, 2, 2, 1)

In [16]:
#11
num.count(2)

2

In [17]:
#12
index=numbers.index(7)
print("Index of 7",index)

Index of 7 7

In [18]:
#13
subject=("python","ML","AI")
print("Is 'python' in subject?","python"in subject)

Is 'python' in subject? True

In [19]:
#14
print("Is 'c++' in subject?","c++" not in subject)

Is 'c++' in subject? True

In [20]:
#15
A={1,2,3}
B={1,2,3,4,5,6}
print("Is A is subset of B",A.issubset (B))

Is A is subset of B True

In [21]:
#16
print("Is B is superset of A",B.issuperset (A))

Is B is superset of A True

In [22]:
#17
A.isdisjoint(B)

False

In [23]:
#18
set1={"hi","bye"}
print('hi' in set1)

True

In [24]:
#19
print('hi'not in set1)

False

In [25]:
#20
set2={"samiksha","isha","meera","shivali"}
print("Length of set2 is:",len(set2))

Length of set2 is: 4

In [26]:
#21
marks={10,12,15,16,20}
print("Minimum marks:",min(marks))
print("Maximum marks",max(marks))

Minimum marks: 10
Maximum marks 20

In [27]:
#22
print("sum of marks",sum(marks))

sum of marks 73

In [28]:
#23
print("Ascending order:",sorted(marks))

Ascending order: [10, 12, 15, 16, 20]

In [29]:
#24
print("Descending order:",sorted(marks,reverse=True))

Descending order: [20, 16, 15, 12, 10]

In [30]:
#25
state=(True,True,False)
any(state)

True

In [31]:
#26
all(state)

False

In [32]:
#27
copy_set=set2.copy()
print("copied set",copy_set)

copied set {'meera', 'samiksha', 'isha', 'shivali'}

In [33]:
#28
del(copy_set)
print(copy_set)

NameError: name 'copy_set' is not defined

In [34]:
#29
dup_list=[10,10,20,30,20,30,40]
set_list=set(dup_list)

In [35]:
#30
class1={'samiksha', 'shivali', 'isha', 'meera','tanuja'}
class2={'sumit', 'shivali', 'abhi', 'meera','sanket'}
#a)
print("common students",class1&class2)

common students {'meera', 'shivali'}

In [36]:
#b)
print("students only in class 1",class1-class2)

students only in class 1 {'samiksha', 'isha', 'tanuja'}

In [37]:
#c)
print("unique students",class1|class2)

unique students {'sumit', 'meera', 'shivali', 'tanuja', 'samiksha', 'isha', 'sanket', 'abhi'}