In [2]:
# Python Tuple: Practical Questions

# 1. Create a tuple named 'fruits' containing five fruit names and print it.

# 2. Create a tuple with mixed data types (string, integer, float, boolean) and display each element using indexing.

# 3. Create a nested tuple that stores a country name and its states as another tuple.

# 4. Access the last element of a tuple using negative indexing.

# 5. Slice a tuple to print only the first three elements.

# 6. Use len() to find the number of elements in a tuple named 'students'.

# 7. Use max() and min() to find the highest and lowest marks from a tuple of integers.

# 8. Use sum() to calculate the total sales from a tuple of daily sales data.

# 9. Sort a tuple of numbers in ascending order using sorted() and convert it back to a tuple.

# 10. Sort a tuple of numbers in descending order using sorted() with reverse=True.

# 11. Count how many times a specific value appears in a tuple using the count() method.

# 12. Find the index of a specific element in a tuple using the index() method.

# 13. Check if "Python" is present in a tuple using the 'in' keyword.

# 14. Check if "C++" is not present in a tuple using the 'not in' keyword.

# 15. Create a tuple from a range of numbers 1 to 10 using the tuple() and range() functions.

# 16. Use any() on a tuple of boolean values to check if at least one element is True.

# 17. Use all() on a tuple of boolean values to check if all elements are True.

# 18. Concatenate two tuples representing first names and last names.

# 19. Repeat a tuple containing ("AI", "ML") three times using the * operator.

# 20. Combine two tuples (names and scores) using zip() and convert the result into a tuple.

# 21. Reverse a tuple using the reversed() function and convert it back to a tuple.

# 22. Find the alphabetically first and last element in a tuple of strings using min() and max().

# 23. Unpack a tuple of three elements into three separate variables and print them.

# 24. Create a tuple and demonstrate immutability by trying to modify an element (observe the error).

# 25. Compare the memory size of a list and a tuple containing the same elements using sys.getsizeof().

# 26. Create a tuple of 10 numbers and calculate the average using sum() and len().

# 27. Create a tuple of city names and print them in reverse order using slicing.

# 28. Convert a tuple of numbers into a list, append a new number, and convert it back into a tuple.

# 29. Create a tuple of employee details (Name, Age, Department) and use unpacking to print each value separately.

# 30. Create two tuples — (product_name, price) — and combine them using zip(); then display them sorted by price in descending order.

In [3]:
#1
fruits=("apple","banana","cherry","grapes","orange")
print(fruits)

('apple', 'banana', 'cherry', 'grapes', 'orange')

In [4]:
#2
mix_tuple=("hina",10,22.2,True)
print(mix_tuple[0:-1])

('hina', 10, 22.2)

In [5]:
#3
nest_tuple=("India",("pune","delhi"),"London",("street","statue"))
print(nest_tuple)

('India', ('pune', 'delhi'), 'London', ('street', 'statue'))

In [6]:
#4
print("last city of india:",nest_tuple[1][-1])
print("Last element:",nest_tuple[-1])

last city of india: delhi
Last element: ('street', 'statue')

In [7]:
#5
print(nest_tuple[0:3])

('India', ('pune', 'delhi'), 'London')

In [8]:
#6
students=("priya","siya","seema","hema")
print("length of students",len(students))

length of students 4

In [9]:
#7
marks=(45,47,36,49,50)
print("Maximum marks",max(marks))
print("Minimum marks",min(marks))

Maximum marks 50
Minimum marks 36

In [10]:
#8
daily_sales=(7,9,4,10,8)
print("Total sales",sum(daily_sales))

Total sales 38

In [11]:
#9
daily_sales = list(daily_sales)
pop_item=daily_sales.pop()
print("removed element:",pop_item)
print("remaining element:",daily_sales)

removed element: 8
remaining element: [7, 9, 4, 10]

In [12]:
#10
daily_sales.clear()
print(daily_sales)

[]

In [13]:
#11
A={1,2,3}
B={1,2,3,4,5}
print("union",A|B)

union {1, 2, 3, 4, 5}

In [14]:
#12
print("intersection",A&B)

intersection {1, 2, 3}

In [15]:
#13
print("Difference_ele",B-A)

Difference_ele {4, 5}

In [16]:
#14
print("Symmetric",A^B)

Symmetric {4, 5}

In [17]:
#15
num=(2,1,4,3,5,6,7,8,9,10,11)
num=tuple(range(1,11))
print("Tuple created from range",num)

Tuple created from range (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [18]:
#16
bool_tup=(True,False,False)
print("Is there any true value? :",any(bool_tup))

Is there any true value? : True

In [19]:
#17
print("Is there all true values? :",all(bool_tup))

Is there all true values? : False

In [20]:
#18
firstname="Rishi "
lastname="Khobare"
print(firstname + lastname)

Rishi Khobare

In [21]:
#19
sub=("AI","ML")
print(sub*3)

('AI', 'ML', 'AI', 'ML', 'AI', 'ML')

In [22]:
#20
names=("Rishi","Tanu")
score=(99,98)
combine=tuple(zip(names,score))
print("name and scores are:", combine)

name and scores are: (('Rishi', 99), ('Tanu', 98))

In [23]:
#21
set1=(10,20,30)
reverse=tuple(reversed(set1))
print(reverse)

(30, 20, 10)

In [24]:
#22
words=("apple","banana","cherry","date")
first=min(words)
last=max(words)
print("alphabetically first word:",first)
print("alphabetically last word:",last)

alphabetically first word: apple
alphabetically last word: date

In [25]:
#23
employee=("rishi","data scientist",75000)
name,job,salary=employee
print("Name:",name)
print("Job:",job)
print("Salary:",salary)

Name: rishi
Job: data scientist
Salary: 75000

In [26]:
#24 observe the error
t=(10,20,30)
t.add(40)
print(t)

AttributeError: 'tuple' object has no attribute 'add'

In [27]:
#25
import sys
T=(10,20,30)
L=[10,20,30]
print("Size of tuple",sys.getsizeof(T))
print("Size of list",sys.getsizeof(L))

Size of tuple 64
Size of list 88

In [28]:
#26
Tp=(1,2,3,4,5,6,7,8,9,10)
print("average:",sum(Tp)//len(Tp))

average: 5

In [29]:
#27
city=("latur","pune","mumbai")
print("print in reverse order:",city[::-1])

print in reverse order: ('mumbai', 'pune', 'latur')

In [30]:
#28
t = (10, 20, 30, 40)
l = list(t)
l.append(40)
print(tuple(t))

(10, 20, 30, 40)

In [31]:
#29
employee=("rishi","data scientist",75000)
name,job,salary=employee
print("Name:",name)
print("Job:",job)
print("Salary:",salary)

Name: rishi
Job: data scientist
Salary: 75000

In [32]:
#30
product_name=("maggie","gooday","milk")
price=(15,10,14)
combine=zip(product_name,price)
print("Products by price:",sorted(price,reverse=True))

Products by price: [15, 14, 10]