In [34]:
# Python Dictionary Assignment
# 1. Create a dictionary with 5 students and their marks.
# 2. Print the value of a specific student using their name as key.
# 3. Add a new student with marks to the dictionary.
# 4. Update the marks of an existing student.
# 5. Delete a student from the dictionary.
# 6. Print all student names using keys().
# 7. Print all student marks using values().
# 8. Print all student names with their marks using items().
# 9. Check if a specific student is in the dictionary.
# 10. Check if a specific mark is present in the dictionary values.
# 11. Use get() to fetch a student's marks safely.
# 12. Create a dictionary of employees with their departments.
# 13. Access the department of a specific employee.
# 14. Add a new employee and department.
# 15. Change the department of an existing employee.
# 16. Remove an employee from the dictionary.
# 17. Sort the employee dictionary by employee names in ascending order.
# 18. Sort the employee dictionary by department names in ascending order.
# 19. Sort the employee dictionary by names in descending order.
# 20. Sort the employee dictionary by department in descending order.
# 21. Find all keys that have a specific value in a dictionary.
# 22. Count how many students scored above 80 marks.
# 23. Create a nested dictionary for 3 students with age, grade, and department.
# 24. Access the grade of a student from the nested dictionary.
# 25. Update the department of a student in the nested dictionary.
# 26. Loop through the nested dictionary and print student names with their grades.
# 27. Merge two dictionaries of students into one.
# 28. Clear all entries in a dictionary.
# 29. Copy a dictionary into a new dictionary and modify the copy.
# 30. Create a dictionary where keys are numbers 1-5 and values are their squares.

In [35]:
#1
student={"rishi":98,"mira":95,"tanu":93,"janhavi":87,"sakshi":94}

In [36]:
#2
print("marks_of_rishi",student["rishi"])

marks_of_rishi 98

In [37]:
#3
student["isha"]=88
print(student)

{'rishi': 98, 'mira': 95, 'tanu': 93, 'janhavi': 87, 'sakshi': 94, 'isha': 88}

In [38]:
#4
student["isha"]=85
print(student)

{'rishi': 98, 'mira': 95, 'tanu': 93, 'janhavi': 87, 'sakshi': 94, 'isha': 85}

In [39]:
#5
del student["sakshi"]
print(student)

{'rishi': 98, 'mira': 95, 'tanu': 93, 'janhavi': 87, 'isha': 85}

In [40]:
#6
print(student.keys())

dict_keys(['rishi', 'mira', 'tanu', 'janhavi', 'isha'])

In [41]:
#7
print(student.values())

dict_values([98, 95, 93, 87, 85])

In [42]:
#8
print(student.items())

dict_items([('rishi', 98), ('mira', 95), ('tanu', 93), ('janhavi', 87), ('isha', 85)])

In [43]:
#9
print("rishi" in student)

True

In [44]:
#10
print(90 in student.values())

False

In [45]:
#11
print(student.get("Ritu", "Student not found"))

Student not found

In [46]:
#12
employees = {
    "Anil": "HR",
    "Sunita": "IT",
    "Raj": "Finance"
}

In [47]:
#13
print(employees["Sunita"])

IT

In [48]:
#14
employees["Kiran"] = "Marketing"

In [49]:
#15
employees["Raj"] = "IT"

In [50]:
#16
del employees["Anil"]

In [51]:
#17
print(dict(sorted(employees.items())))

{'Kiran': 'Marketing', 'Raj': 'IT', 'Sunita': 'IT'}

In [52]:
#18
print(dict(sorted(employees.items(), key=lambda x: x[1])))

{'Sunita': 'IT', 'Raj': 'IT', 'Kiran': 'Marketing'}

In [53]:
#19
print(dict(sorted(employees.items(), reverse=True)))

{'Sunita': 'IT', 'Raj': 'IT', 'Kiran': 'Marketing'}

In [54]:
#20
print(dict(sorted(employees.items(), key=lambda x: x[1], reverse=True)))

{'Kiran': 'Marketing', 'Sunita': 'IT', 'Raj': 'IT'}

In [55]:
#21
value = "IT"
result = [k for k, v in employees.items() if v == value]
print(result)

['Sunita', 'Raj']

In [56]:
#22
count = sum(1 for m in student.values() if m > 80)
print(count)

5

In [57]:
#23
student_info = {
    "Ritu": {"age": 20, "grade": "A", "dept": "IT"},
    "Amit": {"age": 21, "grade": "B", "dept": "CS"},
    "Sneha": {"age": 19, "grade": "A+", "dept": "ENTC"}
}

In [58]:
#24
print(student_info["Sneha"]["grade"])

A+

In [59]:
#25
student_info["Amit"]["dept"] = "IT"

In [60]:
#26
for name, info in student_info.items():
    print(name, ":", info["grade"])

Ritu : A
Amit : B
Sneha : A+

In [61]:
#27
new_students = {"Kunal": 76, "Meena": 89}
merged = {**student, **new_students}
print(merged)

{'rishi': 98, 'mira': 95, 'tanu': 93, 'janhavi': 87, 'isha': 85, 'Kunal': 76, 'Meena': 89}

In [62]:
#28
student.clear()

In [63]:
#29
copy_students = merged.copy()
copy_students["Kunal"] = 80

In [64]:
#30
num_dict = {i: i*i for i in range(1, 6)}
print(num_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}